// Root styles

// Widths
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$primary-purple: hsl(259, 100%, 65%);
$primary-red: hsl(0, 100%, 67%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-off-white: hsl(0, 0%, 94%);
$neutral-light-grey: hsl(0, 0%, 86%);
$neutral-smokey-grey: hsl(0, 1%, 44%);
$neutral-off-black: hsl(0, 0%, 8%);

// Font
$font: "Poppins", sans-serif;

// Font sizes
$primary-size: 3.2rem;

// Font weights
$regular-italic: 400;
$bold: 700;
$extra-bold-italic: 800;

//Global reset
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: $neutral-off-white;
  display: flex;
  font-family: $font;
  height: 100vh;
  justify-content: center;
}

.container {
  border-radius: 3rem;
  border-bottom-right-radius: 25%;
  background-color: $neutral-white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  padding: 8rem;

  &__input {
    display: flex;
    gap: 5rem;
    width: 100%;
    max-width: 625px;

    &-element {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      position: relative;

      label {
        color: $neutral-off-black;
        font-size: calc($primary-size / 2);
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }

      input {
        display: inline-block;
        width: 100%;
        resize: vertical;
        border-radius: 1rem;
        border: 1px $neutral-off-black solid;
        font-family: $font;
        font-size: $primary-size;
        font-weight: $bold;
        outline-color: $neutral-off-black;
        padding: 2rem;
      }

      span {
        position: absolute;
        bottom: -4rem;
        left: 0;
        color: $primary-red;
        font-size: calc($primary-size / 2);
        font-weight: $regular-italic;
        font-style: italic;
      }
    }
  }

  .error {
    color: $primary-red;
  }

  &__button {
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: flex-end;
    margin-top: 4rem;

    span {
      z-index: 0;
      border-bottom: 2px $neutral-light-grey solid;
      width: 100%;
      max-width: calc(84rem - 9.6rem);
      position: absolute;
      top: 50%;
      left: 0;
    }

    button {
      background-color: $neutral-white;
      border: none;
      z-index: 1;
    }

    img {
      background-color: $primary-purple;
      border-radius: 50%;
      cursor: pointer;
      padding: 2.5rem;
      transition: background-color 0.3s ease-in-out;
    }

    img:hover {
      background-color: $neutral-off-black;
    }
  }

  &__output-field {
    p {
      font-size: calc($primary-size * 3);
      font-style: italic;
      font-weight: $extra-bold-italic;
      color: $neutral-off-black;
    }

    span {
      color: $primary-purple;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    gap: 2.5rem;
    &__input {
      &-element {
        label {
          font-size: calc($primary-size / 2);
        }

        span {
          font-size: calc($primary-size / 2);
        }

        input {
          font-size: calc($primary-size / 2);
        }
      }
    }
    &__button {
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
      }
    }

    &__output {
      &-field {
        p {
          font-size: $primary-size * 2;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    gap: 1rem;
    padding: 2rem;
    &__input {
      &-element {
        label {
          font-size: calc($primary-size / 2.5);
        }

        span {
          font-size: calc($primary-size / 2.5);
        }

        input {
          font-size: calc($primary-size / 2.5);
          padding: 1rem 0 1rem 1rem;
        }
      }
    }
    &__button {
      align-items: center;
      justify-content: center;
      img {
        width: 75%;
      }
    }

    &__output {
      &-field {
        p {
          font-size: $primary-size * 1;
        }
      }
    }
  }
}
