// Root styles

// Widths
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$primary-purple: hsl(259, 100%, 65%);
$primary-red: hsl(0, 100%, 67%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-off-white: hsl(0, 0%, 94%);
$neutral-light-grey: hsl(0, 0%, 86%);
$neutral-smokey-grey: hsl(0, 1%, 44%);
$neutral-off-black: hsl(0, 0%, 8%);

// Font
$font: "Poppins", sans-serif;

// Font sizes
$primary-size: 3.2rem;

// Font weights
$regular-italic: 400i;
$bold: 700;
$extra-bold-italic: 800i;

//Global reset
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: $neutral-off-white;
  display: flex;
  font-family: $font;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: $neutral-white;
  display: flex;
  flex-direction: column;

  &__input {
    display: flex;
    gap: 5rem;

    &-element {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      max-width: 20rem;

      label {
        color: $neutral-off-black;
        font-size: $primary-size / 2;
        font-weight: $bold;
        text-transform: uppercase;
      }

      input {
        border-radius: 1rem;
        border: 1px $neutral-off-black solid;
        font-family: $font;
        font-size: $primary-size;
        font-weight: $bold;
        padding: 2rem;
      }

      span {
        font-size: $primary-size / 2;
      }
    }
  }
}
